/* lg Desktop Screen*/

@media (min-width: 1200px) {
    .btnLoginDaftar1{
        display: none;
    }
}


/* End Desktop Screen*/


/* md  Laptop Screen*/

@media (min-width: 992px) and (max-width: 1199px) {
    .btnLoginDaftar1{
        display: none;
    }
    .textHeading1{
        padding-bottom: 50px;
        margin-top: 150px !important;
    }
    #testimonial-1 .owl-buttons .prev {
        left: -40px
    }
    #testimonial-1 .owl-buttons .next {
        right: -40px
    }
}


/* End Laptop Screen*/


/* md  Laptop Screen */

@media (max-width: 991px) {
    .textHeading1{
        padding-bottom: 50px;
        margin-top: 50px !important;
    }
    .btnLoginDaftar1{
        padding-top: 15px;
    }
    .btnLoginDaftar1 a{
        color: white;
        margin: 10px;
    }
    #slider .hero-caption.caption-height-top, .hero-caption.caption-height-center {
    top: 5%;
}
    .hide-tablet {
        display: none
    }
    /* Header */
    .breadcrumb {
        padding-left: 0px;
        padding-right: 0px
    }
    .header {
        text-align: center
    }
    .header .pull-left {
        float: none !important
    }
    /* Position */
    .pull-right {
        float: none !important
    }
    /*Typography */
    .vertical-text-left,
    .vertical-text-right {
        position: relative;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        left: 0;
        right: 0;
    }
    .vertical-text-left {
        left: 0px
    }
    .vertical-text-left {
        right: 0px
    }
    /* Frame */
    .screen-frame {
        display: none
    }
    /* Split Box */
    .split-box .content {
        padding: 30px;
    }
    .split-box .image-container {
        position: relative;
    }
    .split-box .background-holder {
        position: static;
        height: 350px;
        width: auto
    }
    .split-box .background-holder.has-content {
        width: 100%
    }
    /* Button */
    .btn-lg {
        padding: 12px 25px;
    }
    /* Bootstrap Collapsing Breakpoint*/
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-collapse.collapse {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    /* Menu */
    .menu-sticky .brand-logo img, .menu-sticky .navbar-toggle {
        height: 30px !important;
        margin-top: 10px;
    }
    .main-nav {
        height: auto
    }
    .menu-sticky {
        height: auto!important;
    }
    .menu-dark.menu-transparent {
    background-color: rgba(51, 51, 51, 0.6) !important;
}
    .menu-light.menu-transparent {
        background-color: rgba(255, 255, 255, 0.68) !important;
    }
    .main-nav .dropdown-menu {
        width: 100%;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        display: none
    }
    .main-nav .dropdown.open>.dropdown-menu {
        display: block
    }
    .menu-dark .custom-collapse ul li a,
    .menu-light .custom-collapse ul li a {
        color: #999
    }
    .menu-dark .custom-collapse .dropdown-header {
        color: #ececec;
        border-bottom: 1px solid #555
    }
    .menu-light .custom-collapse ul li a:hover,
    .menu-light .custom-collapse ul li a:focus {
        color: #3e3e3e
    }
    .menu-light .custom-collapse .dropdown-header {
        color: #3e3e3e;
        border-bottom: 1px solid #ccc
    }
    .custom-collapse .dropdown>a>i {
        opacity: 1
    }
    .custom-collapse {
        width: 100%;
        max-height: 350px;
        overflow-x: hidden;
    }
    .custom-collapse .dropdown-header {
        margin: 15px 0px 0px 10px;
        width: 80%;
        padding: 0px 0px 10px 0px !important;
        font-size: 11px;
    }
    .custom-collapse ul li>a {
        padding: 10px 15px !important;
    }
    .main-nav .custom-collapse>ul>li>a,
    .custom-collapse ul li.dropdown ul li a {
        line-height: 20px !important;
    }
    .custom-collapse .dropdown>a>i {
        float: right;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }
    .custom-collapse .open>a>i {
        transform: rotate(0deg) !important;
        -webkit-transform: rotate(0deg) !important;
    }
    .custom-collapse .submenu a:after {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }
    .custom-collapse .submenu.open > a:after {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .custom-collapse .navbar-nav .open .dropdown-menu {
        padding: 0px;
    }
    .custom-collapse .submenu .dropdown-menu {
        padding-left: 30px !important
    }
    .classic-dropdown .dropdown-menu li a {
        margin: 0px 15px;
    }
    .menu-bg {
        background-image: none !important
    }
    .dropdown-header,
    .mega-menu .shop-heading {
        padding: 0px 30px;
        border-bottom: 0px;
        color: #ececec;
    }
    #search #close {
        right: 40%;
        width: auto;
        height: auto;
        bottom: 30px;
        top: auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #bbb;
        font-size: 20px;
        line-height: 22px;
        color: #bbb;
        padding: 15px
    }
    #search #close:hover {
        color: #ececec;
        border-color: #ececec
    }
    .cart-dropdown-menu.dropdown-menu {
        position: absolute;
        width: 30px
    }
    .cart-dropdown-menu {
        left: -200px;
    }
    .cart-dropdown-menu .sub-total .btn {
        margin-bottom: 10px;
    }
    .cart-dropdown ul {
        width: 290px !important;
        left: -180px;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /* top logo */
    .main-nav.has-top-logo .navbar-header {
        text-align: center
    }
    .main-nav.has-top-logo .inner-nav {
        display: inline-block;
        float: none
    }
    /* Side Bar */
    .side-nav {
        padding-left: 0px;
    }
	
	.sidebar-inner, .side-nav.toggled .sidebar-inner {
        width: 250px;
    }
	
	.sidebar-inner {
		padding: 0px 15px;
	}
	
    /* Top Bar */
    .top-nav {
        display: none
    }
    /* Float Menu */
    .main-nav.has-top-nav,
    .float-menu.float-menu-style {
        margin-top: 0px !important
    }
    /* Fulscreen Menu */
    .fs-menu-button {
        top: 25px;
        right: 15px
    }
    .fs-menu .fs-menu-btm {
        display: none
    }
    .fs-menu .inner-nav,
    .fs-menu.active .inner-nav {
        margin-top: 0px;
        top: 50%;
        transform: translateY(-50%);
        padding-bottom: 0px;
        border-bottom: 0px
    }
    .fs-menu-close {
        border: 1px solid #212121;
        padding: 15px;
        border-radius: 50px;
        bottom: 50px;
        right: 50%;
        transform: translateX(50%);
        top: auto
    }
    /* Hero */
    .hero-caption {
        padding: 0px 15px;
    }
    .hero-caption.caption-height-top,
    .hero-caption.caption-height-center {
        top: 25%;
    }
    .hero-caption.caption-height-btm {
        top: 40%;
    }
    /* Hero Typography */
    \h1.hero-heading,
    h1.hero-heading-alt {
        font-size: 40px
    }
    h2.hero-heading,
    h2.hero-heading-alt {
        font-size: 30px
    }
    h3.hero-heading,
    h3.hero-heading-alt {
        font-size: 23px
    }
    h4.hero-heading,
    h4.hero-heading-alt {
        font-size: 20px
    }
    h5.hero-heading,
    h5.hero-heading-alt {
        font-size: 14px
    }
    /* About */
    .about-style-1 .image-container,
    .about-style-1 .background-holder {
        position: static
    }
    /* Shop */
    .product-widget {
        margin-bottom: 30px
    }
    /*Infography*/
    .infography-style-5 {
        margin-bottom: 30px
    }
    .work-flow-1 .right .work-flow-content,
    .work-flow-1 .left .work-flow-content {
        position: relative;
        top: 0px
    }
    .work-flow-1 .right .work-flow-content {
        left: 0px
    }
    .work-flow-1 .left .work-flow-content {
        right: 0px
    }
    /* Features */
    .features-style-2 .features-tab-wrapper {
        padding: 30px 15px;
    }
    .features-style-2 .features-content-wrapper {
        padding: 0px;
        margin-top: 15px;
    }
    /*Footer */
    footer.pdd-btm-30 {
        padding-bottom: 0px !important
    }
    footer.mrg-btm-30 {
        margin-bottom: 0px !important
    }
    .footer-bottom,
    .copyright {
        text-align: center;
    }
    .copyright {
        margin-bottom: 15px !important;
    }
    .footer-bottom .copyright {
        float: none !important;
    }
    /* Infography */
    .infography-style-4 {
        margin-bottom: 30px
    }
}


/*sm Tablet Screen*/

@media (min-width: 768px) and (max-width: 991px) {
    .textHeading1{
        padding-bottom: 100px;
        margin-top: 125px !important;
    }
    .btnLoginDaftar1{
        padding-top: 25px;
    }
    .btnLoginDaftar1 a{
        color: white;
        margin: 10px;
    }
    #features-1 .infography-style-1 {
    min-height: 280px;
}
#features .infography-info p {
    min-height: 80px;
    font-size: 11px !important;
}
    .iphone {
    position: relative;
    max-width: 408px;
    margin-top: 60%;
}
    /******* Portfolio **************/
    .portfolio.col-2 .folio-item,
    .portfolio.col-3 .folio-item,
    .portfolio.col-4 .folio-item,
    .portfolio.col-5 .folio-item,
    .portfolio.col-6 .folio-item {
        width: 50%;
    }
    /******** Testimonial ********/
    .testimonial-1 .owl-buttons .prev {
        left: -20px
    }
    .testimonial-1 .owl-buttons .next {
        right: -20px
    }
    .testimonial-1 .item {
        padding: 0px 120px;
    }
    /******** ShowCase ********/
    .showcase .section {
        padding: 90px 0px
    }
    .showcase #home {
        height: 100vh
    }
    /******** Pricing ********/
    .pricing-table-2 .price-table {
        border-bottom: 1px solid #e9e9e9;
        border-right: 0px
    }
}


/* End Tablet Screen*/


/*xs Mobile Screen (Large) */

@media screen and (max-width: 767px) {
    .textHeading1{
        padding-bottom: 50px;
        margin-top: 135px !important;
    }
    .btnLoginDaftar1{
        padding-top: 15px;
    }
    .btnLoginDaftar1 a{
        color: white;
        margin: 10px;
    }
    .mousePointer1{
        position: relative;
        padding-bottom: 20px;
        margin-top: 15px !important;
    }    
    .content-login {
    height: 70vh;
    background-size: cover;
    background-position: 50% 50%;
}
    .hide-mobile {
        display: none
    }
    .float-none-xs {
        float: none !important
    }
    /********** Spacing **************/
    .pdd-horizon-125,
    .pdd-horizon-120,
    .pdd-horizon-115,
    .pdd-horizon-110,
    .pdd-horizon-105,
    .pdd-horizon-100,
    .pdd-horizon-95,
    .pdd-horizon-90,
    .pdd-horizon-85,
    .pdd-horizon-80,
    .pdd-horizon-75,
    .pdd-horizon-70,
    .pdd-horizon-65,
    .pdd-horizon-60,
    .pdd-horizon-55,
    .pdd-horizon-50,
    .pdd-horizon-45,
    .pdd-horizon-40,
    .pdd-horizon-35 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .pdd-horizon-30,
    .pdd-horizon-25,
    .pdd-horizon-20 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .pdd-vertical-125,
    .pdd-vertical-120,
    .pdd-vertical-115,
    .pdd-vertical-110,
    .pdd-vertical-105,
    .pdd-vertical-100,
    .pdd-vertical-95,
    .pdd-vertical-90,
    .pdd-vertical-85,
    .pdd-vertical-80,
    .pdd-vertical-75,
    .pdd-vertical-70,
    .pdd-vertical-65,
    .pdd-vertical-60,
    .pdd-vertical-55,
    .pdd-vertical-50,
    .pdd-vertical-45,
    .pdd-vertical-40,
    .pdd-vertical-35 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .pdd-top-125,
    .pdd-top-120,
    .pdd-top-115,
    .pdd-top-110,
    .pdd-top-105,
    .pdd-top-100,
    .pdd-top-95,
    .pdd-top-90,
    .pdd-top-85,
    .pdd-top-80,
    .pdd-top-75,
    .pdd-top-70,
    .pdd-top-65,
    .pdd-top-60,
    .pdd-top-55,
    .pdd-top-50,
    .pdd-top-45,
    .pdd-top-40,
    .pdd-top-35 {
        padding-top: 30px !important;
    }
    .pdd-btm-125,
    .pdd-btm-120,
    .pdd-btm-115,
    .pdd-btm-110,
    .pdd-btm-105,
    .pdd-btm-100,
    .pdd-btm-95,
    .pdd-btm-90,
    .pdd-btm-85,
    .pdd-btm-80,
    .pdd-btm-75,
    .pdd-btm-70,
    .pdd-btm-65,
    .pdd-btm-60,
    .pdd-btm-55,
    .pdd-btm-50,
    .pdd-btm-45,
    .pdd-btm-40,
    .pdd-btm-35 {
        padding-bottom: 30px !important;
    }
    .mrg-horizon-125,
    .mrg-horizon-120,
    .mrg-horizon-115,
    .mrg-horizon-110,
    .mrg-horizon-105,
    .mrg-horizon-100,
    .mrg-horizon-95,
    .mrg-horizon-90,
    .mrg-horizon-85,
    .mrg-horizon-80,
    .mrg-horizon-75,
    .mrg-horizon-70,
    .mrg-horizon-65,
    .mrg-horizon-60,
    .mrg-horizon-55,
    .mrg-horizon-50,
    .mrg-horizon-45,
    .mrg-horizon-40,
    .mrg-horizon-35 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    .mrg-horizon-30,
    .mrg-horizon-25,
    .mrg-horizon-20 {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .mrg-vertical-125,
    .mrg-vertical-120,
    .mrg-vertical-115,
    .mrg-vertical-110,
    .mrg-vertical-105,
    .mrg-vertical-100,
    .mrg-vertical-95,
    .mrg-vertical-90,
    .mrg-vertical-85,
    .mrg-vertical-80,
    .mrg-vertical-75,
    .mrg-vertical-70,
    .mrg-vertical-65,
    .mrg-vertical-60,
    .mrg-vertical-55,
    .mrg-vertical-50,
    .mrg-vertical-45,
    .mrg-vertical-40,
    .mrg-vertical-35 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    .mrg-top-125,
    .mrg-top-120,
    .mrg-top-115,
    .mrg-top-110,
    .mrg-top-105,
    .mrg-top-100,
    .mrg-top-95,
    .mrg-top-90,
    .mrg-top-85,
    .mrg-top-80,
    .mrg-top-75,
    .mrg-top-70,
    .mrg-top-65,
    .mrg-top-60,
    .mrg-top-55,
    .mrg-top-50,
    .mrg-top-45,
    .mrg-top-40,
    .mrg-top-35 {
        margin-top: 30px !important;
    }
    .mrg-btm-125,
    .mrg-btm-120,
    .mrg-btm-115,
    .mrg-btm-110,
    .mrg-btm-105,
    .mrg-btm-100,
    .mrg-btm-95,
    .mrg-btm-90,
    .mrg-btm-85,
    .mrg-btm-80,
    .mrg-btm-75,
    .mrg-btm-70,
    .mrg-btm-65,
    .mrg-btm-60,
    .mrg-btm-55,
    .mrg-btm-50,
    .mrg-btm-45,
    .mrg-btm-40,
    .mrg-btm-35 {
        margin-bottom: 30px !important;
    }
    .mrg-left-125,
    .mrg-left-120,
    .mrg-left-115,
    .mrg-left-110,
    .mrg-left-105,
    .mrg-left-100,
    .mrg-left-95,
    .mrg-left-90,
    .mrg-left-85,
    .mrg-left-80,
    .mrg-left-75,
    .mrg-left-70,
    .mrg-left-65,
    .mrg-left-60,
    .mrg-left-55,
    .mrg-left-50,
    .mrg-left-45,
    .mrg-left-40,
    .mrg-left-35 {
        margin-left: 30px !important;
    }
    .mrg-right-125,
    .mrg-right-120,
    .mrg-right-115,
    .mrg-right-110,
    .mrg-right-105,
    .mrg-right-100,
    .mrg-right-95,
    .mrg-right-90,
    .mrg-right-85,
    .mrg-right-80,
    .mrg-right-75,
    .mrg-right-70,
    .mrg-right-65,
    .mrg-right-60,
    .mrg-right-55,
    .mrg-right-50,
    .mrg-right-45,
    .mrg-right-40,
    .mrg-right-35 {
        margin-left: 30px !important;
    }
    /* Typography */
    .font-size-150,
    .font-size-140,
    .font-size-130,
    .font-size-120,
    .font-size-110,
    .font-size-100,
    .font-size-90,
    .font-size-80,
    .font-size-70,
    .font-size-65,
    .font-size-60,
    .font-size-55,
    .font-size-50,
    .font-size-45,
    .font-size-40 {
        font-size: 35px !important
    }
    p.width-90,
    p.width-80,
    p.width-70,
    p.width-60,
    p.width-50,
    p.width-40,
    p.width-30,
    p.width-20,
    p.width-10 {
        width: 100% !important
    }
    /* Portfolio */
    .portfolio.col-2 .folio-item,
    .portfolio.col-3 .folio-item,
    .portfolio.col-4 .folio-item,
    .portfolio.col-5 .folio-item,
    .portfolio.col-6 .folio-item {
        width: 100%;
    }
    /* ShowCase */
    .showcase .section {
        padding: 30px 0px;
    }
    .showcase #home {
        height: 60vh
    }
    /* Owl Carousel */
    .owl-buttons {
        display: none
    }
    /* Parallax */
    .parallax {
        background-position: center
    }
	.video-parallax {
		min-height: 270px
	}
    /* Counter */
    .counter-info {
        margin-bottom: 30px
    }
    .fact-style-1 {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-form-1 .contact-form-wrapper {
        width: 100%;
    }
    /* About */
    .about-style-1 .content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    /* Hero */
    .hero-caption.caption-left,
    .hero-caption.caption-right {
        left: 5%;
        max-width: 360px;
    }
    /* Testimonial */
    .testimonial:hover .owl-buttons .prev,
    .testimonial:hover .owl-buttons .next {
        display: none
    }
    .testimonial-1 .owl-buttons .next {
        right: 0px
    }
    .testimonial-1 .owl-buttons .prev {
        left: 0px
    }
    .testimonial-1 .item {
        padding: 0px 30px;
    }
    /* Infography */
    .infography-style-3 .infography-icon i {
        left: 15px
    }
	/* Section */
	.section, .section-2 {
    padding-top: 30px;
    padding-bottom: 30px;
}
	.section-no-btm {
		padding-top: 30px
	}
	/* Header */
	.header-lg,
	.header-md {
		padding-top: 60px;
		padding-bottom: 60px;
	}
    /* Clients */
    .clients-1 .item {
        padding: 15px
    }
    /* Team */
    .team-style-2 {
        padding: 0px
    }
    .team-style-3 .team-member {
        margin-bottom: 30px
    }
    /* Shop */
    .shop-cart {
        overflow-x: scroll
    }
    .shop-cart .table {
        max-width: none;
        width: 700px !important;
    }
    .color-swatch,
    .size-selector {
        margin-bottom: 15px
    }
    #shop-slider-thumb .item {
        margin: 5px;
    }
    /* Footer */
    footer .widget {
        margin: 30px 0px;
    }
    footer .newsletter-widget button[type="submit"] {
        bottom: 0px
    }
    /******** back to top ********/
    #back-to-top {
        bottom: 15px;
        right: 15px;
    }
}


/* End Mobile Screen*/


/*xs Mobile Screen (small) */

@media screen and (max-width: 480px) {
    .textHeading1{
        padding-bottom: 50px;
        margin-top: 110px !important;
    }
    .btnLoginDaftar1{
        padding-top: 15px;
    }
    .btnLoginDaftar1 a{
        color: white;
        margin: 10px;
    }
    .mousePointer1{
        position: relative;
        padding-bottom: 20px;
        margin-top: 15px !important;
    }
    .whitelabel-link img {
    height: 20px;
}
    #login .btn-red {
    background: #ff0000;
    color: #ffffff;
    padding: 20px 50px;
    display: inline-block;
    border-radius: 100px;
    font-size: 12px;
}
#login .btn-red:hover {
    background: #ff0000;
    color: #ffffff;
    padding: 20px 50px;
    display: inline-block;
    border-radius: 100px;
    font-size: 12px;
}
    #top-up img.icon {
    display: none;
}
    #slider {
    display: none;
}
    #features-1 .infography-icon img {
    width: 50%;
}
    .logo-apps {
    width: 80%;
}
.split-box .content {
    padding: 0;
}
    .btn-red {
        background: #ff0000;
        color: #ffffff;
        padding: 15px 50px;
        display: inline-block;
        border-radius: 100px;
        font-size: 12px;
    }
    .btn-red:hover {
        background: #ff0000;
        color: #ffffff;
        padding: 15px 50px;
        display: inline-block;
        border-radius: 100px;
        font-size: 12px;
    }
    .btn-red.small {
        background: #ff0000;
        color: #ffffff;
        padding: 15px 50px;
        display: inline-block;
        border-radius: 100px;
        font-size: 12px;
    }
    .btn-red.small:hover {
        background: #ff0000;
        color: #ffffff;
        padding: 15px 50px;
        display: inline-block;
        border-radius: 100px;
        font-size: 12px;
    }
    .btn-orange {
        background: #ee9323;
        color: #ffffff;
        padding: 15px 50px;
        display: inline-block;
        border-radius: 100px;
        font-size: 12px;
    }
    .btn-orange:hover {
        background: #ee9323;
        color: #ffffff;
        padding: 15px 50px;
        display: inline-block;
        border-radius: 100px;
        font-size: 12px;
    }
    /* Menu */
    .main-nav .inner-nav > ul > li > a {
        padding: 0px 10px
    }
    .imgMobile1{
        padding-right: 8px !important;
        float: left;
        width: 30%;
        height: 30%;
        white-space: nowrap;
    }
    .txtMobile1{
        text-align: left;
    }
    .mrgMobile1{
        margin: 16px 0 !important;
    }
    .pddMobile1{
        padding: 16px 0 !important;
    }
    #features-1 .infography-style-1{
        min-height: 0px;
    }
    .infography-style-1 .block-icon img{
        transition: none;
        -webkit-transition: none;
    }
    .infography-style-1:hover .block-icon img{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


/* End Mobile Screen*/

@media screen and (max-width: 360px) {
    .textHeading1{
        padding-bottom: 50px;
        margin-top: 95px !important;
    }
    .textHeading2{
        padding-bottom: 20px;
    }
    .textHeading3{
        padding-bottom: 5px;
    }
    .btnLoginDaftar1{
        margin-top: 15px;
    }
    .btnLoginDaftar1 a{
        color: white;
        margin: 20px 10px;
    }
    .mousePointer1{
        position: relative;
        padding-bottom: 20px;
        margin-top: 25px !important;
    }
    .custom-tabs.tab-style-4 li a {
        border: 1px solid transparent;
        color: #777;
        margin-right: 0;
        margin-bottom: -1px;
        font-size: 10px;
    }
    .imgMobile1{
        padding-right: 8px;
        float: left;
        width: 25%;
        height: 25%;
        white-space: nowrap;
    }
    .txtMobile1{
        text-align: left;
    }
    .mrgMobile1{
        margin: 3px 0 !important;
    }
    .pddMobile1{
        padding: 3px 0 !important;
    }
    #features-1 .infography-style-1{
        min-height: 0px;
    }
    .infography-style-1 .block-icon img{
        transition: none;
        -webkit-transition: none;
    }
    .infography-style-1:hover .block-icon img{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}